<div class="main-w3layouts wrapper">
  <h1>Creative SignUp Form</h1>
  <div class="main-agileinfo">
    <div class="agileits-top">
      <form action="/add" method="POST">
        <input class="text" type="text" name="name" placeholder="name" required="">
        <input class="text email" type="email" name="email" placeholder="email" required="">
        <input class="text" type="text" name="class" placeholder="class" required="">
        <input class="text w3lpass" type="text" name="school" placeholder="school" required="">
        <div class="wthree-text">
          <div class="clear"> </div>
        </div>
        <input type="submit" value="SIGNUP">
      </form>
      <p>Don't have an Account? <a href="#"> Login Now!</a></p>
    </div>
  </div>
  <!-- copyright -->